@import "./vendors/reset";
@import "./partials/fonts";
@import "./partials/icons";
@import "./partials/topnav";
@import "./partials/linklistsmall";
@import "./partials/carousel";
@import "./partials/secondnav";
@import "./partials/services";

.main-container {
  max-width: 2000px;
  margin: 0 auto;
}

.section-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
}
