@font-face {
  font-family: 'Droid';
  src:url("../fonts/Google Font Droid/DroidSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Karbon';
  src:url("../fonts/Karbon OT/Karbon-Regular.otf") format("opentype");
}
