$top-menu-background: #272B2F;
$top-menu-font-color: white;
$top-menu-vertical-border-color: #343739;
$highlight-color: #1fb5e3;
$sub-menu-background: #3A3F45;
$sub-menu-vertical-border-color: #4d535b;
$small-menu-background: #35373a;
