$top-menu-background: #272B2F;
$top-menu-font-color: white;
$top-menu-vertical-border-color: #343739;
$highlight-color: #1fb5e3;
$sub-menu-background: #3A3F45;
$sub-menu-vertical-border-color: #4d535b;
$small-menu-background: #35373a;
$carousel-text-color: white;
$secondary-menu-backgorund: white;
$second-menu-link: #909fae;
$services-background: #EFF2F4;
$section-header-small: #909fae;
$section-title: #21bae5;
$text-color: #626a72;
$products-background: #29CEEC;
$products-header-small: #0a647f;
